<div>
  <% if commentable.comments.present? %>
    <p><%= t('.count') %>：<%= commentable.comments.count %></p>
    <% commentable.comments.each do |comment| %>
      <%= l comment.created_at %>
      <%= comment.display_name_or_email %>
      : <%= comment.comment %>
      <% if comment.user == current_user %>
        <%= button_to t('views.common.edit'), polymorphic_path([:edit, commentable, comment]), method: :get %>
        <%= button_to t('views.common.destroy'), polymorphic_path([commentable, comment]), method: :delete %>
      <% end %>
      <br>
    <% end %>
  <% else %>
    <p><%= t('.nothing') %></p>
  <% end %>
</div>

<%= @comment.errors.full_messages.to_sentence if @comment.errors.any? %>
<%= form_with model: [commentable, @comment] do |f| %>
  <%= f.text_area :comment, placeholder: t('.here'), required: true %>
  <%= f.submit %>
<% end %>
