<div>
  <% if commentable.comments.count > 0 %>
    <p><%= t('.count') %>：<%= commentable.comments.count %></p>
    <% commentable.comments.each do |comment| %>
      <%= comment.created_at.strftime("%Y年%m月%d日(#{t('date.abbr_day_names')[comment.created_at.wday]}) %H:%M") %>
      <% unless comment.user.name.empty? %>
        <%= comment.user.name %>
      <% else %>
        <%= comment.user.email %>
      <% end %>
      : <%= comment.comment %>
      <% if comment.user == current_user %>
        <%= button_to t('general.edit'), polymorphic_path([:edit, commentable, comment]), method: :get %>
        <%= button_to t('general.delete'), polymorphic_path([commentable, comment]), method: :delete %>
      <% end %>
      <br>
    <% end %>
  <% else %>
    <p><%= t('.nothing') %>
  <% end %>
</div>

<%= form_with model: [commentable, @comment] do |f| %>
  <%= f.text_area :comment, placeholder: t('.here'), required: true %>
  <%= f.submit %>
<% end %>
