<h1><%= t "users.list" %></h1>

<div>
  <% @users.each do |user| %>
    <div>
      <ul>
        <li>
          <%= link_to user.email, user %>
        </li>
      </ul>
    </div>
  <% end %>
  <%= page_entries_info @users %>
  <%= paginate @users %>
</div>

<nav class="page-nav">
  <%= link_to t("books.back"), books_path %>
</nav>
