<% if user_signed_in? && @user == current_user %>
<h1><%= t "users.my_page" %></h1>
<% else %>
<h1><%= t ".user_page", email: @user.email %></h1>
<% end %>

<div>
  <p><strong><%= t "activerecord.attributes.user.email" %>: </strong><%= @user.email %></p>
  <p><strong><%= t "activerecord.attributes.user.postal_code" %>: </strong><%= @user.postal_code %></p>
  <p><strong><%= t "activerecord.attributes.user.address" %>: </strong><%= @user.address %></p>
  <p><strong><%= t "activerecord.attributes.user.about_me" %>: </strong><%= @user.about_me %></p>
</div>

<nav class="page-nav">
  <%= link_to t("devise.registrations.edit.title", resource: User.model_name.human), edit_user_registration_path %> |
  <%= link_to t("books.back"), books_path %>
</nav>
