<p style="color: green"><%= notice %></p>

<h1><%= Book.model_name.human(count: 2) %></h1>

<div id="books" class="index-items">
  <% @books.each do |book| %>
    <div class="index-item">
      <%= render book %>
      <p>
        <%= link_to t("books.detail"), book %>
      </p>
    </div>
  <% end %>
</div>

<nav class="page-nav">
  <%= link_to t("books.new"), new_book_path %><br>
  Languages:<%= link_to "English", "?locale=en" %>
  <%= link_to "日本語", "?locale=ja" %>
</nav>
