<p style="color: green"><%= notice %></p>

<h1><%= Book.model_name.human(count: 2) %></h1>

<div id="books" class="index-items">
  <% @books.each do |book| %>
    <div class="index-item">
      <%= render book %>
      <p>
        <%= link_to t("books.detail"), book %>
      </p>
    </div>
  <% end %>
</div>

<nav class="page-nav">
  <%= link_to t("books.new"), new_book_path %><br>

  <p>
    <strong><%= t "devise.shared.links.sign_in_with_provider", provider: current_user.email %></strong> |
    <%= link_to t("users.my_page"), user_path(current_user.id) %> |
    <%= link_to t("devise.registrations.edit.title", resource: User.model_name.human), edit_user_registration_path %>
    <%= button_to t("devise.shared.links.sign_out"), destroy_user_session_path, method: :delete %>
  </p>

</nav>
