<div id="<%= dom_id report %>">
  <p>
    <strong><%= Report.human_attribute_name(:title) %>:</strong>
    <%= report.title %>
  </p>

  <p>
    <strong><%= Report.human_attribute_name(:text) %>:</strong>
    <%= report.text %>
  </p>

  <p>
    <%= Report.human_attribute_name(:created_at) %>:
    <%= l report.created_at %>
  </p>
</div>
